<form class="form-signin" action="#">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input id='txtUsername' class="input-block-level" type="text" placeholder="user name" />
	<input id='txtPassword' type='password' class="input-block-level" placeholder="password" />
	<label class="checkbox">
		<input type="checkbox" value="remember" id="cbRemember" />
		Remember Me
	</label>
	<button class="btn btn-large btn-primary" id="btnLogin" type="button">Sign in</button>
</form>