<fieldset class="text-center">
	<legend>Add a new expense</legend>
	<label>Spent on:</label>
	<input type="text" placeholder="Where did the money go?" id="txtName">
	<label>Amount :</label>
	<input type="number" placeholder="how much" id="txtAmount">
	<label>Category :</label>
	<input type="text" placeholder="Category.." id="txtCategory">
	<p>
		<button type="submit" class="btn btn-success" id="btnSave">Save</button>
	<p>
</fieldset>